.App {
  text-align: start;
  margin: 40px;
}

div {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  text-align: left;
  width: 400px;
  padding: 30px;
}

fieldset {
  padding: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  width: 100%;
  background: grey;
  border-radius: 5px;
  background-image: linear-gradient(#d46a6a, #d46a6a);
  background-repeat: no-repeat;
}

textarea {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

.comments {
  padding-top: 35px;
}

.submitButton {
  width: 100%;
}
